<%- include('./partials/_headerNav.ejs', {title: '404'})  %> 
<div style="margin-top: 90px;" class="d-flex justify-content-center align-items-center  flex-column">
    
    <h1 class="display-6 text-danger">
       Error 404
    </h1>

    <a class="btn btn-primary mt-4" href="/">Volver</a>
</div>

<%- include('./partials/_footer.ejs')  %> 

