
<footer style="position: fixed; width: 100%; bottom: 0;" class="bg-primary p-4 text-center">
    <small class="text-light container">
       <b>CRUD</b> MongoDB, Nodejs, Express
    </small>
</footer>
</body>
</html>